/* Styles specific to LineBar control */
.jl-bar .title {
  font: bold 14px "Helvetica Neue", Helvetica, Arial, sans-serif; }

.jl-bar .bar, .jl-bar .legend-bar {
  fill: steelblue; }
  .jl-bar .bar:hover, .jl-bar .legend-bar:hover {
    fill: #3f51b5; }

.jl-bar .line {
  stroke: orange; }

.jl-bar .legend-line {
  fill: orange; }

.jl-bar .line {
  stroke-width: 2; }

.jl-bar .axis {
  font: 10px "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .jl-bar .axis line, .jl-bar .axis path {
    fill: none;
    stroke: #000; }

.jl-bar text {
  font: 12px sans-serif;
  fill: #383838; }

.jl-bar .x.axis path {
  display: none; }
