/* Styles specific to Gauge control */
.jl-gauge .chart-filled {
  fill: steelblue; }

.jl-gauge .chart-empty {
  fill: #dedede; }

.jl-gauge .needle, .jl-gauge .needle-center {
  fill: #464A4F; }

.jl-gauge text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
