/* Styles specific to LineBar control */
.jl-linebar .title {
  font: bold 14px "Helvetica Neue", Helvetica, Arial, sans-serif; }

.jl-linebar .bar, .jl-linebar .legend-bar {
  fill: steelblue; }
  .jl-linebar .bar:hover, .jl-linebar .legend-bar:hover {
    fill: #3f51b5; }

.jl-linebar .line {
  stroke: orange; }

.jl-linebar .legend-line {
  fill: orange; }

.jl-linebar .line {
  stroke-width: 2; }

.jl-linebar .axis {
  font: 10px "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .jl-linebar .axis line, .jl-linebar .axis path {
    fill: none;
    stroke: #000; }

.jl-linebar text {
  font: 12px sans-serif;
  fill: #383838; }

.jl-linebar .x.axis path {
  display: none; }
