
body, html {
  margin: 0;
  height: 100%;
  width: 100%;
}
* {
  box-sizing: border-box;
}
.section {
  width: 50%;
  float: left;
  height: 50%;
  padding: 15px;
  border: 0.1px solid #dedede;
}
.chart-style {
  width: 100%;
  min-height: 80%;
  height: 80%;
}
.utility {
  display: flex;
  width: 100%;
  height: 20%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.ml-10 {
  margin-left: 10px;
}
.mt-10 {
  margin-top: 10px;
}
.c-h-v{
  display: flex;
  align-items: center;
  justify-content: center;
  height: -webkit-fill-available;
}
